@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: 'Nanum Gothic', sans-serif;
   background: #fff;
}

img{
   max-width: 100%;
   height: auto;
   display: block;
}

.header-mane{
   display: flex;
   padding: 80px 0;
   flex-flow: wrap;
}
.header-left{
   width: 50%;
   text-align: center;
}
.header-left h1{
   text-transform: uppercase;
   font-size: 75px;
}
.header-left h1 a{
   text-decoration: none;
   color: #000;
}
.header-left p{
   color: #000;
   letter-spacing: 8px;
   text-transform: uppercase;
   font-size: 20px;
}
.header-right{
   width: 50%;
}
.header-right h3{
   background: #000;
   color: #fff;
   padding: 20px 50px;
   letter-spacing: 8px;
   text-transform: uppercase;
   font-size: 23px;
}

.image-mane{
   background: url('https://cdn.pixabay.com/photo/2022/12/03/13/01/butterfly-7632646__340.jpg');
   padding: 580px 0 40px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   text-align: center;
}
.image-mane a{
   padding: 15px 50px;
   background: #000;
   color: #fff;
   font-size: 30px;
   text-decoration: none;
}

.see-more{
   padding: 50px 0;
   text-align: center;
}

.containor{
   padding: 0 60px;
   
}
.team-members{
   display: flex;
   justify-content: space-around;
   flex-flow: wrap;
}
.member{
   width: 30%;
   text-align: center;
}

.member img{
   width: 100%;
   height: auto;
}

.member h2{
   margin: 10px 0 7px;
}

.member h3{
   margin-bottom: 25px;
}

.text-content{
   
   background: #000;
}

.content{
   width: 60%;
   text-align: center;
   color: #fff;
   padding: 50px 0;
   margin: 0 auto;
   line-height: 25px;
}

.content h1{
   font-size: 40px;
   margin-bottom: 10px;
}

.content h4{
   margin-bottom: 15px;
   font-size: 13px;
   letter-spacing: 4px;
}

.content p{
   text-align: justify;
   margin-bottom: 30px;
}

.content a{
   margin: 0 20px;
   color: #fff;
   font-size: 25px;
}

.footer{
   padding: 30px 0;
   text-align: center;
   letter-spacing: 8px;
}


@media screen and (max-width: 991px){

   .member{
      width: 45%;
   }

}


@media screen and (max-width: 775px){
   
   .header-left{
      width: 100%;
      text-align: center;
   }
   .header-left h1{
      font-size: 50px;
   }
   .header-left p{
      letter-spacing: 4px;
      font-size: 16px;
      margin-bottom: 20px;
   }

   .header-right{
      width: 100%;
      text-align: center;
   }
   .header-right h3{
      padding: 15px auto;
      letter-spacing: 5px;
      font-size: 20px;
   }

   .image-mane a{
      padding: 15px 40px;
      font-size: 22px;
   }

   .see-more h1{
      font-size: 25px;
   }

   .member{
      width: 90%;
   }

   .footer{
      padding: 25px 0;
      text-align: center;
      letter-spacing: 4px;
   }
   .footer h2{
      font-size: 22px;
   }
}

@media screen and (max-width: 575px){
   
   .footer{
      padding: 20px 0;
      text-align: center;
      letter-spacing: 3px;
   }
   .footer h2{
      font-size: 18px;
   }
}





